# On board
set_io -nowarn SPI_FLASH_CS 16
set_io -nowarn SPI_FLASH_SCLK 15
set_io -nowarn SPI_FLASH_MISO 14
set_io -nowarn SPI_FLASH_MOSI 17

set_io -nowarn PCM_FS 27 # output
set_io -nowarn PCM_DIN 28 # output

# UART
set_io -nowarn SER_RX 31 # input
set_io -nowarn SER_TX 25 # output

# RGB LED Driver
set_io -nowarn LED_GREEN 39 # output
set_io -nowarn LED_BLUE 40 # output
set_io -nowarn LED_RED 41 # output
